@charset "utf-8";
@font-face {
  font-family: "Pretendard";
  src: url("./webfonts/PretendardVariable.woff2") format("woff");
  font-weight: regular;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: "Pretendard", sans-serif;
  font-weight: regular;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}
ul {
  list-style: none;
}
section {
  width: 100%;
  max-width: 1905px;
  height: 100%;
  display: flex;
  scroll-timeline: 1.5s;
}
section video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: opacity 0.8s ease;
}
.fade-out {
  opacity: 0;
}
section .menu {
  position: absolute;
  top: 40px;
  left: 45%;
  transform: translateX(-50%);
  justify-content: center;
  font-size: 18px;
}
section .menu ul {
  display: flex;
}
.logo p img {
  top: 0;
  left: 0;
  width: 140px;
  margin: 34px;
}
a {
  text-decoration: none;
  color: #333;
}
section .menu ul li a {
  color: #fff;
  margin: 40px;
}
.mall1 {
  width: 9%;
  top: 25px;
  right: 17%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 7px;
  color: #fff;
  padding: 15px;
  letter-spacing: -1px;
}
.mall1 p:first-child img {
  cursor: pointer;
  width: 17px;
}
.mall1 span {
  font-size: 15px;
  color: #fff;
}
.mall2 {
  width: 10%;
  top: 25px;
  right: 6%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  color: #fff;
  padding: 12px;
  letter-spacing: -1px;
}
.mall2 p:first-child img {
  cursor: pointer;
  width: 22px;
}
.mall2 span {
  font-size: 15px;
  color: #fff;
}
.lang {
  width: 4%;
  top: 40.5px;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(http://picogram.co.kr/images/icon/lan_white.png);
  background-repeat: no-repeat;
  color: #fff;
}
.lang span {
  margin-left: 25px;
}
.text-wrap .title img {
  top: 38%;
  left: 37%;
  padding-bottom: 30px;
}
.text-wrap span {
  color: #fff;
  left: 36%;
  text-align: center;
  font-size: 20px;
}
.scroll-down {
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  animation: down 1.5s infinite;
}
@keyframes down {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) translateY(15px);
  }
  100% {
    transform: translateX(-50%) translateY(-5px);
    opacity: 0;
  }
}
@media screen and (max-width: 1680px) {
  section .menu ul li a {
    margin: 20px;
    transition: 0.5s;
  }
}
@media screen and (max-width: 1300px) {
  section .menu {
    display: none;
  }
  .logo p img {
    width: 120px;
    margin-left: 40px;
    margin-top: 25px;
  }
  .mall1,
  .mall2 {
    display: none;
  }
  .mall1 span,
  .mall2 span {
    display: none;
    cursor: none;
  }
  .mall1 .arrow,
  .mall2 .arrow {
    display: none;
  }
  .lang {
    display: none;
  }
  .text-wrap span {
    font-size: 18px;
    transition: 0.5s;
  }
}
@media screen and (max-width: 1024px) {
  .text-wrap .title img {
    width: 80%;
  }
  .text-wrap span {
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
}
.sustainability {
  width: 1440px;
  height: 950px;
  margin: 120px 230px;
  font-family: "Pretendard", sans-serif;
}

.sustainability h2 {
  position: absolute;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 1.4;
}

.sustainability ul.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 180px;
}
.sustainability ul.content li {
  width: 456px;
  height: 510px;
  overflow: hidden;
}
.sustainability ul.content li img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: 0.7s;
}
.sustainability ul.content li img:hover {
  transform: scale(1.2);
}
.sustainability ul.content li:nth-child(1) h3 {
  position: absolute;
  left: 11%;
  font-size: 27px;
  font-weight: 700;
  margin: 20px 0 10px;
}
.sustainability ul.content li:nth-child(2) h3 {
  position: absolute;
  left: 43%;
  font-size: 27px;
  font-weight: 700;
  margin: 20px 0 10px;
}
.sustainability ul.content li:nth-child(3) h3 {
  position: absolute;
  right: 9%;
  font-size: 27px;
  font-weight: 700;
  margin: 20px 0 10px;
}

.sustainability ul.content li:nth-child(1) p {
  position: absolute;
  text-align: center;
  left: 1.5%;
  bottom: -18%;
  font-size: 17px;
  font-weight: 600;
  color: #555;
  line-height: 1.6;
}
.sustainability ul.content li:nth-child(2) p {
  position: absolute;
  text-align: center;
  left: 35%;
  bottom: -18%;
  font-size: 17px;
  font-weight: 600;
  color: #555;
  line-height: 1.6;
}
.sustainability ul.content li:nth-child(3) p {
  position: absolute;
  text-align: center;
  right: 1.5%;
  bottom: -18%;
  font-size: 17px;
  font-weight: 600;
  color: #555;
  line-height: 1.6;
}
.pureal {
  position: sticky;
  display: flex;
  width: 100%;
  height: 85%;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url(http://picogram.co.kr/images/main/section02_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.pureal .third {
  position: absolute;
  left: 34%;
  top: 100px;
  text-align: center;
  overflow: hidden;
}
.pureal .third .prtit {
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
}
.pureal .third img {
  width: 50%;
  padding-bottom: 30px;
}
.pureal .third .ptxt {
  font-size: 18px;
  color: #fff;
}
.pureal .icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 300px;
}
.pureal .icon_box p {
  position: relative;
  text-align: center;
  width: 150px;
  height: 150px;
}
.pureal .icon_box p::before {
  content: "";
  top: -60%;
  left: -40%;
  width: 288px;
  height: 288px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.pureal .icon_box p img {
  width: 65px;
  height: 65px;
  margin-bottom: 10px;
}
.pureal .icon_box span {
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 5vh;
  margin-left: 30px;
}
.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.tech_info {
  display: block;
  margin-right: 100px;
  margin-top: -150px;
}
.tech_info > .tech_tit h3 {
  display: block;
  color: #9d1e34;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: normal;
  padding-bottom: 15px;
}
.tech_info > .tech_tit h1 {
  display: block;
  color: #111;
  font-size: 57px;
  letter-spacing: -0.03em;
  padding-bottom: 20px;
}
.tech_info > .tech_txt p {
  display: block;
  color: #666666;
  font-size: 17px;
  letter-spacing: -0.03em;
  padding-bottom: 55px;
}
.tech_info span {
  display: block;
  width: 31%;
  color: #111;
  font-size: 17px;
  letter-spacing: -0.03em;
  padding: 14px 48px;
  border: 1px solid #666666;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.tech_info span:hover {
  background-color: #9d1e34;
  color: #fff;
}
.tech_info span::after {
  content: " ";
  width: 21px;
  height: 11px;
  background: url(http://picogram.co.kr/images/icon/go_black.png);
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.tech_img {
  width: 702px;
  height: 740px;
  overflow: hidden;
}
.tech_img p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.tech_img p:hover img {
  transform: scale(1.1);
}
.media {
  width: 100%;
  height: 970px;
  background: #fbfbfb;
  border-bottom: 1px solid #e5e5e5;
}
.media > .media_tit {
  width: 75%;
  height: 70%;
  margin: 140px 250px;
  letter-spacing: -0.05em;
}
.media > .media_tit h1 {
  display: block;
  color: #111;
  font-size: 57px;
  padding-bottom: 20px;
}
.media > .media_tit > .msub_tit {
  display: flex;
  font-size: 17px;
  padding-bottom: 70px;
}
.media > .media_tit > .msub_tit p {
  color: #666;
  flex: 1;
}
.media > .media_tit > .msub_tit span {
  display: block;
  width: 63%;
  color: #111;
  padding: 14px 54px;
  border: 1px solid #666;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}
.media > .media_tit > .msub_tit span:hover {
  background-color: #9d1e34;
  color: #fff;
}
.media > .media_tit > .msub_tit span::after {
  content: "";
  width: 15px;
  height: 11px;
  background: url(http://picogram.co.kr/images/icon/go_small.png);
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  display: inline-block;
  margin-left: 10px;
  color: #111;
  z-index: 1;
}
.mcontent {
  display: flex;
  gap: 100px;
}
.mcon1,
.mcon2 {
  display: flex;
  gap: 30px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.mcon1 img,
.mcon2 img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.mcon1:hover img,
.mcon2:hover img {
  transform: scale(1.1);
}
.mcon1:hover > .mtxt span,
.mcon2:hover > .mtxt span {
  color: #9d1e34;
}
.mcon1:hover > .mtxt span::after,
.mcon2:hover > .mtxt span::after {
  background: #9d1e34 url(http://picogram.co.kr/images/icon/go_small.png)
    no-repeat top 8px right 7px / auto 6px;
}
.mtxt h4 {
  color: #9d1e34;
  padding-top: 50px;
  padding-bottom: 40px;
}
.mtxt h2 {
  color: #111;
  padding-bottom: 40px;
}
.mtxt span {
  color: #111;
  padding-bottom: 40px;
}
.mtxt p {
  color: #666;
  padding-bottom: 40px;
}
.mcon1 > .mtxt span::after,
.mcon2 > .mtxt span::after {
  position: absolute;
  margin-left: 15px;
  margin-top: -3px;
  content: "";
  width: 26px;
  height: 26px;
  background: #111 url(http://picogram.co.kr/images/icon/go_small.png) no-repeat
    top 8px right 7px / auto 6px;
  border-radius: 50%;
  color: #fff;
}
footer {
  width: 1905px;
}
footer .frow_site {
  display: flex;
  padding: 60px 250px;
  gap: 150px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  line-height: 30px;
}
.frow_site > .site_wrap {
  position: relative;
}
.frow_site > .site_wrap::after {
  content: "";
  position: absolute;
  top: -32%;
  right: 0;
  width: 1px;
  height: 164%;
  background-color: #e5e5e5;
  transform: translateX(110px);
}
.frow_site > .site_wrap:last-child::after {
  display: none;
}
.frow_site > .site_wrap li {
  font-size: 18px;
  color: #111;
  font-weight: 600;
}
.frow_site > .site_wrap li:nth-child(2) a {
  font-size: 15px;
  color: #666;
  font-weight: 300;
}
.frow_site > .site_wrap li:nth-child(3) a {
  font-size: 15px;
  color: #666;
  font-weight: 300;
}
.frow_site > .site_wrap li:nth-child(4) a {
  font-size: 15px;
  color: #666;
  font-weight: 300;
}
.frow_site > .site_wrap li:nth-child(5) a {
  font-size: 15px;
  color: #666;
  font-weight: 300;
}
.frow_site > .site_wrap li:last-child a {
  font-size: 15px;
  color: #666;
  font-weight: 300;
}
.fmid {
  width: 1905px;
  font-size: 15px;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.fmid ul {
  display: flex;
  gap: 60px;
  width: 1440px;
  align-items: center;
  margin: 25px 245px;
}
.fmid ul li:first-child a {
  color: #0971ce;
}
.fmid ul li:nth-child(2) a {
  color: #845ab4;
}
.fmid ul li:nth-child(3) a,
.fmid ul li:last-child a {
  color: #111;
}
.fmid ul li:first-child a img {
  width: 12px;
  height: 13px;
  margin-left: 10px;
}
.fmid ul li:nth-child(2) a img {
  width: 12px;
  height: 13px;
  margin-left: 10px;
}
.fmid ul li:nth-child(3) a img {
  width: 13px;
  height: 13px;
  margin-left: 10px;
}
.finfo {
  background: #111;
  color: #fff;
  font-size: 16px;
  padding: 60px 13%;
  justify-content: space-between;
  align-items: flex-start;
}
.finfo > .finfo_wrap {
  display: flex;
  gap: 40px;
}
.finfo > .finfo_wrap > .top {
  width: 100px;
  height: 50px;
  padding-top: 30px;
  text-align: center;
  background: #333;
}
.finfo > .finfo_wrap > .top p a {
  color: #fff;
}
.finfo_wrap > .finfo_detail p {
  line-height: 30px;
}
.finfo_wrap > .finfo_detail .finfo_CR {
  padding-top: 40px;
}
.f_right {
  position: relative;
  display: inline-block;
}

.family_site p {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 40px 10px 20px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  transition: background 0.3s ease;
}

.family_site p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  width: 8px;
  height: 8px;
  background: url("http://www.picogram.co.kr/images/footer_dropdown.png")
    no-repeat center / contain;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
}

.family_site ul {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  background: #fff;
  color: #555;
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border: 1px solid #ddd;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.family_site ul li a {
  display: block;
  padding: 8px 16px;
  color: #555;
  font-size: 14px;
}

.family_site ul li a:hover {
  background: #f0f0f0;
}

.family_site.active ul {
  display: block;
}

.family_site.active ul {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.family_site.active p::after {
  transform: translateY(-50%) rotate(180deg);
}
