@charset "UTF-8";
@font-face {
  font-family: "BrickSans";
  src: url(./webfonts/NTBrickSans.woff) format("woff");
}
@font-face {
  font-family: "NanumSquareR";
  src: url(./webfonts/NanumSquareR.woff) format(woff);
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(./webfonts/NotoSansKR-Regular.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "BrickSans";
}
p {
  font-family: "NanumSquareR";
  font-size: 30px;
}
span {
  font-family: "NotoSansKR-Regular";
  font-size: 25px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
body {
  width: 100%;
  max-width: 1920px;
  height: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 6vh 20px;
  box-sizing: border-box;
  background: linear-gradient(45deg, #9358f7, #6197ee 30%, #10d7e2 80%);
}
.header .h_tit > .tit_top > h1 {
  font-size: 95px;
}
.header .h_tit > .tit_top > h1:first-of-type {
  line-height: 7vh;
}
.header .h_tit > .tit_top > h1:last-child {
  padding-bottom: 50px;
}
.header .h_tit > .tit_top > p {
  line-height: 8vh;
}
.intro {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: transform 2s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 1s ease;
  will-change: transform, opacity;
}
.intro.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.intro .i_tit .intro_top h1 {
  font-size: 70px;
  padding-bottom: 80px;
}
.intro .i_tit .intro_top p {
  line-height: 15vh;
}
.edu {
  width: 100%;
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.edu .e_tit {
  display: flex;
  flex-wrap: wrap;
  gap: 200px;
}
.edu .e_tit .e_left h1 {
  font-size: 70px;
}
.edu .e_tit .e_right span {
  font-size: 25px;
  line-height: 10vh;
}
@media screen and (max-width: 1600px) {
  .header {
    flex-wrap: wrap;
    min-height: 65vh;
    padding: 6vh 24px;
  }
  .intro {
    flex-wrap: wrap;
    min-height: 65vh;
    padding: 6vh 24px;
  }
}
@media screen and (max-width: 1280px) {
  .header,
  .intro,
  .e_tit {
    min-height: 60vh;
    padding: 5vh 20px;
  }
  .header .h_tit > .tit_top > h1 {
    font-size: clamp(36px, 6.5vw, 80px);
  }
  .intro .i_tit .intro_top h1,
  .e_tit .e_left h1 {
    font-size: clamp(36px, 6.5vw, 60px);
  }
}
@media screen and (max-width: 768px) {
  .header {
    min-height: 55vh;
    padding: 5vh 16px;
    align-items: center;
  }
  .header .h_tit > .tit_top > h1 {
    font-size: clamp(28px, 8.5vw, 56px);
  }
  .header .h_tit > .tit_top > p {
    font-size: clamp(14px, 3.5vw, 23px);
  }
  .header .h_tit > .tit_bottom > p {
    font-size: clamp(14px, 3.5vw, 23px);
  }
  .intro {
    min-height: 55vh;
    padding: 5vh 16px;
    align-items: center;
  }
  .intro .i_tit .intro_top h1 {
    font-size: clamp(28px, 8.5vw, 56px);
  }
  .intro .i_tit .intro_top p {
    font-size: clamp(14px, 3.5vw, 23px);
  }
  .intro .i_tit > .intro_bottom > span {
    font-size: clamp(14px, 3.5vw, 23px);
  }
}
@media screen and (max-width: 500px) {
  .header {
    height: 70%;
    min-height: auto;
    padding: 4vh 12px;
  }
  .header .h_tit > .tit_top > h1 {
    font-size: clamp(22px, 10vw, 45px);
    line-height: 1.1;
  }
  .header .h_tit > .tit_top > p {
    font-size: clamp(12px, 4.5vw, 18px);
  }
  .intro {
    height: 70%;
    min-height: auto;
    padding: 4vh 12px;
  }
  .intro .i_tit > .intro_top > h1 {
    font-size: clamp(22px, 10vw, 45px);
  }
  .intro .i_tit > .intro_bottom > span {
    font-size: clamp(12px, 4.5vw, 13px);
  }
  .edu {
    height: 70%;
    min-height: auto;
    padding: 4vh 12px;
  }
  .edu .e_tit > .e_left > h1 {
    font-size: clamp(22px, 10vw, 40px);
  }
  .edu .e_tit > .e_right > span {
    font-size: clamp(12px, 4.5vw, 18px);
  }
}
