@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
html {
  scroll-behavior: smooth;
}
.h_page {
  position: fixed;
  width: 95%;
  max-width: 1905px;
}
.h_page > .header_contents {
  position: relative;
  justify-content: center;
  align-items: center;
}
.header_contents > .header_img > img {
  filter: brightness(50%);
}
.h_page > .header_contents > .hamburger label {
  position: absolute;
  top: 4%;
  left: 2%;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 10;
}
.h_page > .header_contents > .hamburger label span {
  display: block;
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 7px 11px;
}
.h_page > .header_contents > .header_logo {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 179px;
}
.header_contents .menu {
  position: absolute;
  display: flex;
  top: 4%;
  left: 40%;
  gap: 40px;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 23px;
  border: 2px solid #666;
  border-radius: 30px;
  transition: 0s;
}
.header_contents .menu > li:hover {
  transition: 0.2s;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.header_contents .menu > li > a {
  color: #fff;
}
.header_contents .menu > li {
  /* margin: 20px 0; */
  position: relative;
}
.header_contents .menu li img {
  filter: brightness() invert(1);
}
.main > .menu .sub {
  position: absolute;
  /* width: 100%; */
  left: -10px;
  top: 30px;
  line-height: 4vh;
  box-sizing: border-box;
  padding: 0 15px;
  border-radius: 10px;
  white-space: nowrap;
  height: 0;
  /* opacity: 1; */
  overflow: hidden;
  transition: 0s;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.main > .menu .down_menu a {
  display: block;
}

.main_right {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 5%;
  right: -70px;
}
.main_right img {
  filter: brightness() invert(1);
  transition: 0.5s;
}
.main_right img:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.main_pj {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.Project_img p img {
  width: 70%;
  height: 80%;
  position: absolute;
  border-radius: 10px;
  filter: brightness(70%);
  transition: 0.5s;
  object-fit: cover;
}
.Project > p:hover img {
  transform: scale(1.2);
}
