@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "NanumGothic";
  src: url(./webfonts/NanumGothic-Regular.woff) format("woff");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
html {
  scroll-behavior: smooth;
  font-family: NanumGothic;
}
.header_main {
  width: 95%;
  height: 1100px;
  padding-bottom: 100px;
  font-weight: 600;
}
.h_page {
  width: 100%;
  max-width: 1905px;
}
.h_page > .header_contents {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.header_simg {
  position: absolute;
  background-repeat: no-repeat;
  filter: brightness(50%);
}
.header_contents > .header_img > img {
  width: 1905px;
  filter: brightness(50%);
}
.h_page > .header_contents > .hamburger label {
  position: absolute;
  top: 4%;
  left: 2%;
  border: 1px solid #fff;
  border-radius: 50%;
  transform: translateX(5%);
  width: 35px;
  height: 35px;
  z-index: 10;
}
.h_page > .header_contents > .hamburger label span {
  display: block;
  width: 15px;
  height: 2px;
  background: #fff;
  margin: 7px 11px;
}
.h_page > .header_contents > .header_logo {
  position: absolute;
  top: 5%;
  left: 3%;
  transform: translate(30%);
  width: 179px;
}
.header_contents .menu {
  position: absolute;
  display: flex;
  top: 4%;
  left: 40%;
  gap: 40px;
  transform: translateX(3%);
  font-size: 17px;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px 23px;
  border: 2px solid #666;
  border-radius: 30px;
  transition: 0s;
}
.header_contents .menu > li:hover {
  transition: 0.2s;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.header_contents .menu > li > a {
  color: #fff;
}
.header_contents .menu > li {
  /* margin: 20px 0; */
  position: relative;
}
.header_contents .menu li img {
  filter: brightness() invert(1);
}
.main > .menu .sub {
  position: absolute;
  /* width: 100%; */
  left: -10px;
  top: 30px;
  line-height: 4vh;
  box-sizing: border-box;
  padding: 0 15px;
  border-radius: 10px;
  white-space: nowrap;
  height: 0;
  /* opacity: 1; */
  overflow: hidden;
  transition: 0s;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.main > .menu .down_menu a {
  display: block;
}

.main_right {
  position: absolute;
  display: flex;
  gap: 20px;
  top: 5%;
  right: 0;
}
.main_right img {
  filter: brightness() invert(1);
  transition: 0.5s;
}
.main_right img:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.Project_img {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin-top: -180px;
  border-radius: 18px;
  margin: 0 auto;
  overflow: hidden;
  left: 3%;
}

.Project_img .Project_bg {
  width: 100%;
  height: 125px;
  padding-top: 50%; /* 16:9 화면비 유지 */
  background-image: url("./redbull_images/red-bull-quiz-stop-header.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  transition: 1s ease;
}
.Project_img .Project_bg:hover {
  transform: scale(1.1);
}
.Project_img .P_txt {
  position: absolute;
  left: 50%; /* ← 반응형 위치 */
  bottom: 10%; /* ← 반응형 위치 */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}
.Project_img .P_txt span {
  background: #db0a40;
  border-radius: 30px;
  padding: 13px;
  color: #fff;
  transform: 1s;
  font-weight: 400;
}
.Project_img .P_txt span:hover {
  background: #c21f4b;
}
.Project_img .P_txt p {
  color: rgb(255, 255, 255);
}

.R_news {
  width: 90%;
  height: 700px;
  display: flex;
  max-width: 1905px;
  margin: 0 auto;
  gap: 50px;
  justify-content: justify;
  align-items: center;
  cursor: pointer;
  color: #000;
}
.R_news .news_images {
  width: 864px;
  height: 490px;
  border-radius: 15px;
  overflow: hidden;
}
.R_news .news_images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.R_news:hover .news_images img {
  transform: scale(1.1);
}
.con_txt > .con_recent {
  display: flex;
  gap: 40px;
}
.news_con h4 {
  position: relative;
  left: 15px;
  top: 30px;
  padding-top: 10px;
}
.news_con h4::before {
  position: absolute;
  left: -10px;
  display: block;
  content: "";
  width: 3px;
  height: 15px;
  background: #db0a40;
}
.news_con .con_txt h1 {
  padding-top: 80px;
  padding-bottom: 20px;
  letter-spacing: -0.05em;
  font-size: 40px;
  font-weight: bolder;
}
.news_con > .con_txt p {
  font-weight: 500;
  opacity: 65%;
}
.news_con > .con_txt .con_recent {
  padding-top: 50px;
}
.news_con > .con_txt .con_recent span {
  padding: 15px;
  background: #db0a40;
  border-radius: 30px;
  color: #fff;
}
.news_con > .con_txt > .con_recent p {
  padding-top: 15px;
  opacity: 60%;
}
.stories {
  width: 100%;
}
.stories .news_story {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding-top: 50px;
}
.stories h2 {
  text-align: center;
  padding-bottom: 70px;
  font-size: 32px;
  font-weight: bolder;
}
.stories .news_story ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.stories .news_story li {
  width: 330px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}
.stories .news_story li img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transition: 1s;
}
.news_story .story_con li:hover img {
  transform: scale(1.05);
}
.news_story .story_con li p {
  padding-top: 30px;
  color: #000f1e;
  opacity: 70%;
  font-size: 14px;
}
.news_story .story_con li h3 {
  padding-top: 10px;
  font-size: 15px;
  font-weight: bolder;
  color: #000f1e;
}
.news_story .story_con li h4 {
  padding-top: 5px;
  font-size: 0.9em;
  font-weight: lighter;
  color: #000f1e;
  opacity: 70%;
}
@media screen and (max-width: 1280px) {
  .header_main {
    height: 1000px;
  }
  .header_simg img {
    display: none;
  }
  .header_img img {
    position: absolute;
    width: 1580px;
    height: 415px;
    left: -300px;
    transition: 0.7s;
  }
}
@media screen and (max-width: 1000px) {
  .header_main {
    height: 1000px;
  }
  .h_page > .header_contents {
    height: 450px;
  }
  .header_contents .menu {
    display: none;
  }
  .P_txt span {
    font-size: 13px;
  }
  .P_txt p {
    font-size: 14px;
  }
  .R_news {
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .header_img img {
    position: absolute;
    width: 1300px;
    height: 415px;
    left: -300px;
    transition: 0.7s;
  }

  .stories .news_story ul {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 50px;
    padding: 0 25px 0 50px;
  }
  .stories .news_story li {
    width: calc(50% - 30px);
    height: 500px;
    transition: 0.5s;
  }
  .stories .news_story li img {
    height: 50%;
  }
  .news_story .story_tit {
  }
}

@media screen and (max-width: 500px) {
  .h_page > .header_contents {
    height: 350px;
  }
  .header_main {
    height: 700px;
  }
  .header_simg img {
    display: block;
  }
  .header_img img {
    display: none;
  }
  .stories .news_story ul {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .stories .news_story li {
    width: 250px;
    height: 200px;
  }
  .stories .news_story li img {
    height: 100%;
  }
}
